* {
    background-color: Black;
    border-color:     GhostWhite;
    text-color:       GhostWhite;
}

#window {
    border: 1;
    padding: 4;
}

#listview {
    border: 2px dash 0px 0px ;
    lines:      25;
}

#element selected {
    background-color: DimGray;
}

#element.alternate.normal {
    background-color: rgba(20, 20, 20, 100%);
}

#textbox-prompt-colon {
    expand:     false;
    str:        ":";
}

#inputbar {
    children: [prompt, textbox-prompt-colon, entry];
}
